@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.fadeIn {
  animation: 1000ms ease-in-out fadeIn 1;
}

@keyframes expand {
  from {
    max-height: 320px;
  }
  to {
    max-height: 500px;
  }
}

.expand {
  animation-name: expand;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
