@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@400;500;600;700&family=Raleway:ital,wght@0,500;0,700;0,900;1,400&display=swap');

$raleway: 'Raleway', sans-serif;
$mont: 'Montserrat', sans-serif;
$incon: 'Inconsolata', sans-serif;
